{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 Page not found || Agrikol</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/images/favicons/site.webmanifest' %}">

    <!-- plugin scripts -->


    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">




    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/jquery.mCustomScrollbar.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vegas.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nouislider.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nouislider.pips.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/agrikol_iconl.css' %}">

    <!-- template styles -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
</head>

<body>    
    <div class="page-wrapper">

        <section class="eco_friendly" style="background-image: url({% static 'assets/images/main-slider/banner-five-bg.jpg' %})">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="eco_friendly_content">
                            <div class="eco_friendly_icon_box">
                                <span class="icon-focus"></span>
                            </div>
                            <div class="eco_friendly_title">
                                <h2>Oop! Page Not Found.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
    </div><!-- /.page-wrapper -->


    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/TweenMax.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'assets/js/swiper.min.js' %}"></script>
    <script src="{% static 'assets/js/typed-2.0.11.js' %}"></script>
    <script src="{% static 'assets/js/vegas.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'assets/js/countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'assets/js/nouislider.min.js' %}"></script>
    <script src="{% static 'assets/js/isotope.js' %}"></script>    


    <!-- template scripts -->
    <script src="{% static 'assets/js/theme.js' %}"></script>
</body>

</html>